
[Unit]
Description=Detect violations

[Service]
Type=simple
User=nvidia

# see https://stackoverflow.com/questions/43001223/how-to-ensure-that-there-is-a-delay-before-a-service-is-started-in-s$ExecStartPre=/bin/sleep 10

# systemd will run this executable to start the service
ExecStart=/srv/ivms/auto-start/detect_ivms.sh                                                                                 
# to query logs using journalctl, set a logical name here                                                               SyslogIdentifier=detect

# SEE https://github.com/torfsen/python-systemd-tutorial#stdout-and-stderr
Environment=PYTHONUNBUFFERED=1

# ensure the service restarts after crashing
Restart=always
# amount of time to wait before restarting the service
RestartSec=10

[Install]
WantedBy=multi-user.target
